<a href="https://colab.research.google.com/github/DanielVaz12/fundamentals-of-programming/blob/main/Fundamentos_da_Programa%C3%A7%C3%A3o_Aula_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# python list
fam = [12, 43, 88, 102]
fam

[12, 43, 88, 102]

In [ ]:
# family
fam = ["Dad","Mom","Liz","Ema"]
fam

['Dad', 'Mom', 'Liz', 'Ema']

In [ ]:
# family and age
fam2 = [["Dad", 1.89],
        ["Mom", 1.71],
        ["Liz", 1.73],
        ["Ema", 1.68]]
fam2

[['Dad', 1.89], ['Mom', 1.71], ['Liz', 1.73], ['Ema', 1.68]]

In [ ]:
type(fam)

list

In [ ]:
type(fam2)

list

In [ ]:
# area variables (in square meters)
hall = 14.00
kit = 18.00
liv = 20.00
bed = 10.75
bath = 9.50

# create list areas
areas = [hall, kit, liv, bed, bath]
areas

# print areas
print(areas)

[14.0, 18.0, 20.0, 10.75, 9.5]

In [ ]:
# adapt list areas
areas = ["hall", hall, "kit", kit, "liv", liv, "bed", bed, "bath", bath]

# print areas
print(areas)

['hall', 14.0, 'kit', 18.0, 'liv', 20.0, 'bed', 10.75, 'bath', 9.5]

In [ ]:
listA = [1,3,4,2]
# list with 4 integers numbers

listB = [[1,2,3], [4,5,7]]
# two lists within a list with integers inside each of them

listC = [1+2, "a"*5, 3]
# list with a sum of 1 + 2, str product of "a" with 5, and o an integer, 3

print(listA)
print(listB)
print(listC)

[1, 3, 4, 2]
[[1, 2, 3], [4, 5, 7]]
[3, 'aaaaa', 3]

In [ ]:
fam[2]

'Liz'

In [ ]:
fam2[2]

['Liz', 1.73]

In [ ]:
house[3]

['bedroom', 10.75]

In [ ]:
# area variables (in square meters)
hall = 11.25
kit = 18.00
liv = 20.00
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],["kitchen",kit], ["livingroom",liv], ["bedroom",bed], ["bathroom", bath]]
house

# print out house
print(house)

# print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['livingroom', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

In [ ]:

fam2[3:5]

[['Ema', 1.68]]

In [ ]:
fam2[:4]

[['Dad', 1.89], ['Mom', 1.71], ['Liz', 1.73], ['Ema', 1.68]]

In [ ]:
# create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# print out second element from areas
print(areas[1])

# print out last element from areas
print(areas[-1])

# print out the area of the living room
print(areas[5])

11.25
9.5
20.0