<a href="https://colab.research.google.com/github/DanielVaz12/fundamentals-of-programming/blob/main/Fundamentos_da_Programa%C3%A7%C3%A3o_Aula_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[3]+areas[7]

# print the variable eat_sleep_area
print(eat_sleep_area)

28.75

In [ ]:
# create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# use slicing to create downstairs
downstairs = areas[:6]

# use slicing to create upstairs
upstairs = areas[6:]

# print out downstairs and upstairs
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

In [ ]:
x = [["a","b","c"],["d","e","f"],["g","h","i"]]

x[2][0]
x[2][:2]

['g', 'h']

In [ ]:
# what will be returned if you display house[-1][1] from the complete list you implemented in lecture 3?
hall = 11.25
kit = 18.00
liv = 20.00
bed = 10.75
bath = 9.50

house = [["hallway", hall],["kitchen",kit], ["livingroom",liv], ["bedroom",bed], ["bathroom", bath]]
house

house[-1][1]

9.5

In [ ]:
# manipulating lists
fam = ["Dad", 1.89,"Mom", 1.71,"Liz", 1.73,"Ema", 1.68]
fam

fam[7] = 1.63
fam

fam[4:6] = ["lisa", 1.75]
fam

['Dad', 1.89, 'Mom', 1.71, 'lisa', 1.75, 'Ema', 1.63]

In [ ]:
fam + ["me", 1.79]

['Dad', 1.89, 'Mom', 1.71, 'lisa', 1.75, 'Ema', 1.63, 'me', 1.79]

In [ ]:
fam_ext = fam + ["me", 1.79]
del(fam[2])
fam

['Dad', 1.89, 1.71, 'lisa', 1.75, 'Ema', 1.63]

In [ ]:
x = ["a","b","c"]
y = x
y[1] = "z"
y

['a', 'z', 'c']

In [ ]:
x

['a', 'z', 'c']

In [ ]:
x = ["a","b","c"]
y = list(x)
y = x[:]
y[1] = "z"
x

['a', 'b', 'c']

In [ ]:
# create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# correct the bathroom area
areas[9] = 10.50

# change "living room" to "chill zone"
areas[4] = "chill zone"

print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]